<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alb.project.vacation.mapper.HolidayItemMapper">

    <resultMap type="alb.project.vacation.domain.HolidayItem" id="HolidayItemMap">
        <id column="holiday_id" jdbcType="BIGINT" property="holidayId"/>
        <id column="approved_user_id" jdbcType="BIGINT" property="approvedUserId"/>
        <result column="approved_user_name" property="approvedUserName"/>
        <result column="approved_index" jdbcType="TINYINT" property="approvedIndex"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="approve_time" property="approveTime"/>
        <result column="approve_instruction" property="approveInstruction"/>
        <result column="del_flag" property="delFlag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!--通过单个实体-->
    <select id="queryOne" resultMap="HolidayItemMap">
        select hi.holiday_id,
               hi.approved_user_id,
               (select su.nick_name from sys_user su) as approved_user_name,
               hi.approved_index,
               hi.status,
               hi.approve_time,
               hi.approve_instruction,
               approve_time
               hi.del_flag
        from holiday_item hi
        where hi.holiday_id = #{holidayId}
          and hi.approved_user_id = #{approvedUserId}
          and hi.del_flag = 0
        limit 1
    </select>

    <!--查询多个实体-->
    <select id="queryAll" resultMap="HolidayItemMap">
        select hi.holiday_id,
        hi.approved_user_id,
        (select su.nick_name from sys_user su) as approved_user_name,
        hi.approved_index,
        hi.status,
        hi.approve_time,
        hi.approve_instruction,
        hi.del_flag
        from holiday_item hi
        where
        <if test="holidayId != null">
            hi.holiday_id = #{holidayId} and
        </if>
        <if test="approvedUserId != null">
            hi.approved_user_id = #{approvedUserId} and
        </if>
        hi.del_flag = 0
    </select>

    <insert id="insert" parameterType="HolidayItem">
        insert into holiday_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="holidayId != null">
                holiday_id,
            </if>
            <if test="approvedUserId != null">
                approved_user_id,
            </if>
            <if test="approvedIndex != null">
                approved_index,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="approveTime != null">
                approve_time,
            </if>
            <if test="approveInstruction != null">
                approve_instruction,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
                create_time,
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="holidayId != null">
                #{holidayId},
            </if>
            <if test="approvedUserId != null">
                #{approvedUserId},
            </if>
            <if test="approvedIndex != null">
                #{approvedIndex},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="approveTime != null">
                #{approveTime},
            </if>
            <if test="approveInstruction != null">
                #{approveInstruction},
            </if>
            <if test="delFlag != null">
                #{delFlag},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
                sysdate(),
            <if test="updateBy != null">
                #{updateBy},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update" parameterType="HolidayItem">
        update holiday_item
        <set>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
                update_time = sysdate()
        </set>
        where holiday_id = #{holidayId}
        and approved_user_id = #{approvedUserId}
        and approved_index = #{approvedIndex}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        update holiday_item
        set del_flag =w 1
        where holiday_id = #{holidayId}
    </delete>

</mapper>
